{% extends "base.html" %}
{% block content %}
<p style="margin-bottom: 10px;"><img src="{{ STATIC_URL }}graphic/cuckoo.png" /></p>
<div class="alert alert-success"><h4>Submission complete!</h4>
The following tasks were added successfully:
{% for task in tasks %}
    <a href="{% url "submission_status" task %}">{{task}}</a>
{% endfor %}.
Click on the links to monitor the status of the submission.
</div>
<% if config.guacamole %>
<div class="alert alert-success">
    <h4>Remote desktop link(s):</h4>
    Click on the link to control session:
    {% for task in tasks %}
        <a target="_blank" href="{% url "guacamole" task %}">{{task}}</a>
    {% endfor %}
</div>
<% endif %>
{% endblock %}
